name: 04 - Using Actions

on:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        default:
            run:
                working-directory: ./app  #making it as default for all working directory steps in this job
        steps:
            - name: Checkout code
              uses: actions/checkout@v2
            - name: Set up Node.js
              uses: actions/setup-node@v2
              with:
                node-version: '20.x'
            - name: Install dependencies
              run: npm ci
              #working-directory: ./app
            - name: Run tests   
              run: npm run test
              #working-directory: ./app