name: 09 - Using Functions
on:
    pull_request:
    workflow_dispatch:
jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: Failing step
              run: exit 1

            - name: I will be skipped
              if: success()
              run: 
                echo "I will print if previous steps succeed."
            
            - name: I will execute
              if: always()
              run: |
                echo "I will always print, except when the workflow is cancelled."

            - name: I will also execute when cancelled
              if: cancelled()
              run: |
                echo "I will execute when cancelled"